#set ($instances = $services.replication.getInstances())
#if (!$instances.isEmpty())
  #set ($replicatedInstances = $services.replication.controller.getHibernateEntityReplication($doc.documentReference)
  #set ($replicationInstanceMap = {})
  #foreach($replicatedInstance in $replicatedInstances)
    #set ($void = $replicationInstanceMap.put($replicatedInstance.instance.uri, $replicatedInstance))
  #end
  <form action="$xwiki.relativeRequestURL" method="post">
  <ul>
  #foreach($instance in $instances)
    <li>
      $instance.name (<a href="$instance.uRI">$instance.uRI</a>) :
    <select id="pet-select">
      <option value="">$escapetool.xml($services.localization.render('replication.entity.docextra.notreplicated'))</option>
      <option value="ALL" label="$escapetool.xml($services.localization.render('replication.entity.level.ALL.description'))">$escapetool.xml($services.localization.render('replication.entity.level.ALL'))</option>
      <option value="ALL" label="$escapetool.xml($services.localization.render('replication.entity.level.REFERENCE.description'))">$escapetool.xml($services.localization.render('replication.entity.level.REFERENCE'))</option>
    </select>
  </li>
#end
</ul>

<button name="replication_update">$escapetool.xml($services.localization.render('replication.admin.instance.button.remove'))</button>
</form>
#end